.shopping-cart-div {
    position: absolute;
    top: 55px;
    right: 50px;
    width: 400px;
    height: 450px;
    background-color: grey;
    color: white;
    padding: 10px;

    overflow-x: hidden;
    overflow-y: auto;

}

.hide {
    display: none;
}

#shoppingCartDivContent .container .row .col-md-1 {
    text-align: center;
    margin: auto;
}

#shoppingCartDivContent .container .row .col-md-2 {
    text-align: center;
    margin: auto;
}

#shoppingCartDivContent .container .row .col-md-5 {
    margin: auto;

}

#shoppingCartDivContent .container .row .col-md-5 a {
    color: white;
}

#shoppingCartDivContent .container .row .small-cart-image {
    height: 40px;
}

div[class^="btn-cart-"] {
    cursor: pointer;
    user-select: none;
}

.btn-cart-minus::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f146";
}

.btn-cart-plus::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0fe";
}

.btn-cart-del::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2ed";
}
