{% extends 'main_template.html' %}
{% block content %}

    <main class="my-5">
        <div class="container">
            <!--Section: Content-->

            <!--Section: Content-->
            <section>

                <div class="row justify-content-center mb-5" style="margin-top: 100px;">
                    <div class="col-3">
                        <a href="/auth/createAccount"
                                class="btn btn-secondary btn-md mr-1 mb-2">
                            <i class="fas fa-user pr-2"></i>
                            Pas encore de compte ? Enregistrez vous !
                        </a>
                    </div>
                </div>

                <form action="{{ "/auth/login" }}"
                      method="post"
                      >

                    <!--Grid row-->
                    <div class="row justify-content-center">

                        <!--Grid column-->
                        <div class="col-6">

                            <!--Section: Content-->
                            <section>

                                <!-- username -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="username" name="username"  value="{{ content.details.username }}" class="form-control"/>
                                    <label class="form-label" for="username">Nom d'utilisateur</label>
                                    {% if content.errors.username %}
                                        <div class="form-helper text-danger">{{ content.errors.username }}</div>
                                    {% endif %}
                                </div>

                                <!-- password -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control"/>
                                    <label class="form-label" for="password">Mot de passe</label>
                                    {% if content.errors.password %}
                                        <div class="form-helper text-danger">{{ content.errors.password }}</div>
                                    {% endif %}
                                </div>

                            </section>

                        </div>

                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <button type="submit"
                                    class="btn btn-primary btn-md mr-1 mb-2">
                                <i class="fas fa-edit pr-2"></i>
                                [Se connecter]
                            </button>

                        </div>
                    </div>

                </form>

            </section>

        </div>
    </main>


{% endblock %}