<link rel="stylesheet" href="/cart/scripts/cartBloc.css"/>
<script src="/cart/scripts/shopping-cart.js"></script>

<li class="nav-item me-3 me-lg-0">
    <div id="shoppingCartButton" class="nav-link">
        <i class="fas fa-shopping-cart"></i>
    </div>
</li>
<div id="shoppingCartDiv" class="shopping-cart-div hide">
    <div id="shoppingCartDivContent"></div>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-align-right">
            <a href="/cart/view" class="btn btn-light btn-md mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2 mr-2"></i>Voir mon panier
            </a>

        </div>
    </div>

    {#  Gabarit utilisé :                     #}
    {#                            <div class="container">#}
    {#                                <div class="row">#}
    {#                                    <div class="col-md-6">[Titre de l'objet]</div>#}
    {#                                    <div class="col-md-1">[-]</div>#}
    {#                                    <div class="col-md-2">{Quantité}</div>#}
    {#                                    <div class="col-md-1">[+]</div>#}
    {#                                    <div class="col-md-2">[Suppr]</div>#}
    {#                                </div>#}
    {#                            </div>#}

</div>