{% extends 'main_template.html' %}
{% block content %}

    <link rel="stylesheet" href="/cart/scripts/cartPage.css"/>
    {#   On ne peut pas insérer un script avec JQuery tout de suite avant que jquery ai été inclu. #}
    {#   Voir en bas :  {% block jqScripts %}  #}
    {#   >> Voir templates/main_template.html:153 #}
    {#    <script src="/cart/scripts/cart-page.js"></script>#}

    <main class="my-5">
        <div class="container">
            <!--Section: Content-->

            <!--Section: Content-->
            <section>

                <!--Grid row-->
                <div class="row" style="margin-top: 100px;">

                    <!--Grid column-->
                    <div class="col-md-12 mb-4">

                        <!--Section: Content-->
                        <section class="mb-5">

                            <h5>Mon panier / Commander</h5>



                            <h4>Pièces disponibles</h4>
                            <div id="shoppingCartError"
                                 class="alert alert-danger"
                                 role="alert"
                                 style="display: none;"></div>
                            <div id="shoppingOrderOk"
                                 class="alert alert-success"
                                 role="alert"
                                 style="display: none;">
                                <h4>La commande a été traitée avec succès</h4>
                                <p>
                                    Vous pouvez consulter la commande #<span id="orderNumber"></span>
                                    dans <a href="/orders/{{ g.user.user_id }}">la page de vos achats</a>
                                </p>
                            </div>

                            <div id="shoppingCartDivQuoteContent">

                                <div id="cartInStockTable"></div>

                                <div id="quoteReady" class="row" style="display: none;">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2 text-end">
                                        <button id="btnOrder"  type="button" class="btn btn-primary btn-lg">
                                            Commander
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>

                    </div>

                </div>

            </section>

        </div>

    </main>

{% endblock %}
{% block jqScripts %}

    <script src="/cart/scripts/cart-page.js"></script>

{% endblock %}