{% extends "main_template.html" %}
{% block content %}

    {% if product %}

        <main class="my-5">
            <div class="container">
                <!--Section: Content-->

                <!--Section: Content-->
                <section>

                    <!--Grid row-->
                    <div class="row" style="margin-top: 100px;">

                        <!--Grid column-->
                        <div class="col-md-6 mb-4">

                            <!--Section: Content-->
                            <section class="mb-5">

                                <h5>{{ product.productName }}</h5>
                                <a href="/lines/details/{{ product.productLine }}"
                                   class="mb-2 text-muted text-uppercase small">
                                    {{ product.productLine }}
                                </a>

                                <p><span class="mr-1"><strong>{{ product.MSPR }}</strong></span></p>
                                <p class="pt-1">{{ product.productDescription }}</p>
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tbody>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row"><strong>Taille</strong></th>
                                            <td>{{ product.productScale }}</td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row"><strong>Quantité</strong></th>
                                            <td>{{ product.quantityInStock }}</td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row"><strong>Vendeur</strong></th>
                                            <td>{{ product.productVendor }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr>

                                {% if g.user.is_employee %}
                                    <a href="/product/edit/{{ product.productCode }}" type="button"
                                       class="btn btn-primary btn-md mr-1 mb-2">
                                        <i class="fas fa-edit pr-2"></i>
                                        [Editer]
                                    </a>
                                {% endif %}
                                {% if g.user.user_name != 'Guest' and not g.user.is_employee %}
                                    <button
                                            type="button"
                                            class="add-to-shopping-cart btn btn-light btn-md mr-1 mb-2"
                                            data-productCode="{{ product.productCode }}"
                                            data-productName="{{ product.productName }}"
                                            data-productImg="{{ product.productImg }}"
                                    >
                                        <i class="fas fa-shopping-cart pr-2"></i>Ajouter à mon panier
                                    </button>
                                {% endif %}
                                {% if g.user.user_name == 'Guest' %}
                                    <a href="/auth/login" class="btn btn-light btn-md mr-1 mb-2">
                                        <i class="fas fa-user pr-2"></i>S'identifier
                                    </a>
                                {% endif %}

                            </section>

                        </div>

                        <!--Grid column-->
                        <div class="col-md-6 mb-2">
                            <!--Section: Sidebar-->
                            <section class="sticky-top" style="top: 80px;">
                                <!--Section: Product Image-->
                                <img src="{{ product.productImg }}" alt="Product image"
                                     class="w-100 img-fluid img-thumbnail">
                                <!--Section: Product Image-->
                            </section>
                            <!--Section: Sidebar-->
                        </div>


                    </div>

                </section>
                <!--Section: Content-->


            </div>
        </main>

    {% else %}

        <main class="my-5">
            <div class="container">

                <!--Section: Content-->
                <section>
                    <!-- Jumbotron -->
                    <div id="intro" class="p-5 text-center bg-light shadow-5 rounded mb-5">
                        <h1 class="mb-3 h2">Le produit n'existe pas</h1>
                        <a class="btn btn-primary m-2" href="/" target="_blank"
                           role="button">
                            < Retour
                        </a>
                    </div>
                    <!-- Jumbotron -->
                </section>
                <!--Section: Content-->

            </div>
        </main>

    {% endif %}

{% endblock %}